<% include top %>

  <p></p>
    <h3>Events List</h3> 
  
  <% if (eventslist.length > 0) { %>

    <p>Below are events registered in this portal. Click to access its details.</p>

  <% for (var event of eventslist) { 
    var dateEventStr = new Date(event.time_start_ms).toISOString();
  %>  

  <div class="card">
    <h5 class="card-header">
      <span class="badge badge-pill badge-dark"><%= event.sensorkey %></span>
      <%=dateEventStr%>
      Duration: <%=( event.time_end_ms - event.time_start_ms ) %> (ms)
      <a href="#" class="btn btn-primary">Details</a>
    </h5>
    <div class="card-body">
      <h6 class="card-title">dAcceleration: <%=event.d_accel %> g
        Accel (max): <%= event.accel %> g
      </h6>
      <p>dX=<%= event.d_accel_x %>  
        dY=<%= event.d_accel_y %>   
        dZ=<%= event.d_accel_z %>  
        Std.dev=<%= event.stddev_abs %></p>
    </div>
  </div>

  <% } 
  }
  else {
  %>
    <p>No events have been recorded yet.</p>  
  <%
  } %>
  
<% include bottom %>
