<% include top %>

<script type="text/JavaScript" src="/javascripts/mapSensors.js"></script>

<p></p>
<h3>Events List</h3> 
  <p>Registered events in this portal. Select below for filter options.</p>
  <p><strong>MMI:</strong>
    <a class="btn btn-light btn-outline-dark btn-sm" href="/events/mmi/8">8+</a>
    <a class="btn btn-light btn-outline-dark btn-sm" href="/events/mmi/7">7+</a>
    <a class="btn btn-light btn-outline-dark btn-sm" href="/events/mmi/6">6+</a>
    <a class="btn btn-light btn-outline-dark btn-sm" href="/events/mmi/5">5+</a>
    <a class="btn btn-light btn-outline-dark btn-sm" href="/events/mmi/6">4+</a>
    <a class="btn btn-light btn-outline-dark btn-sm" href="/events/mmi/3">3+</a>
    <a class="btn btn-light btn-outline-dark btn-sm" href="/events">All</a>
  </p>
  <p><strong>Time:</strong>
    <a class="btn btn-light btn-outline-dark btn-sm" href="/events/datetime/1">1 Hour</a>
    <a class="btn btn-light btn-outline-dark btn-sm" href="/events/datetime/2">2 Hours</a>
    <a class="btn btn-light btn-outline-dark btn-sm" href="/events/datetime/3">3 Hours</a>
    <a class="btn btn-light btn-outline-dark btn-sm" href="/events/datetime/12">12 Hours</a>
    <a class="btn btn-light btn-outline-dark btn-sm" href="/events/datetime/24">1 Day</a>
    <a class="btn btn-light btn-outline-dark btn-sm" href="/events">All</a>
  </p>

  <table class="table table-hover table-sm">
    <thead>
      <tr class="table-active">
        <th scope="col">Time <br/>(UTC)</th>
        <th scope="col">Duration <br/>(ms)</th>
        <th scope="col">PGA <br/>(%g, in cm/s^2)</th>
        <th scope="col">MMI</th>
        <th scope="col">Source <br/>(sensor id)</th>
      </tr>
    </thead>
    <tbody>
  
  <% 

  var time_first_record=0;
  var time_last_record=0;

  for (var event of eventslist) { 

    if (typeof time_first_record === 'undefined')
      time_first_record=event.time_start_ms;
    time_last_record=event.time_start_ms;

    var dateEventStr = new Date(event.time_start_ms).toISOString();
    var intensity_color = datautils.getColorMercalliIntensity(event.intensity);
    var intensity_colorSTR = 
      "rgba("+intensity_color[0]+","
      +intensity_color[1]+","
      +intensity_color[2]+","
      +intensity_color[3]+")";

    var mmi='-';
    if (typeof event.mmi !== 'undefined')
      mmi=event.mmi.toFixed(1);

    var pga='-'
    if (typeof event.d_accel !== 'undefined' )
      pga= event.d_accel.toFixed(9);

  %>  

    <tr style="background-color: <%= intensity_colorSTR %>;">
      <th scope="row"><%= dateEventStr %></th>
      <td><%=( event.time_end_ms - event.time_start_ms ) %></td>
      <td><%= pga %></td>
      <td><%= mmi %></td>
      <td><span class="badge badge-pill badge-dark"><%= event.sensorkey %></span></td>
    </tr>

  <% } %>

    </tbody>
  </table>

    <div class="btn-group col-12" role="group">
      <a class="btn bg-light btn-outline-dark " href="#" role="button">&lt; Previous</a>   
      <a class="btn bg-light btn-outline-dark " href="#" role="button">Next &gt;</a>
    </div>

<% include bottom %>
