<% include top %>

<div id="mapid" class="container-fluid"></div>

<!-- <script src="/javascripts/leaflet-heat.js"></script> -->
<script src="/javascripts/heatmap.js"></script>

<!-- <script src="/javascripts/leaflet-heatmap.js"></script> -->

<script type="text/JavaScript" src="/javascripts/mapSensors.js"></script>

<script>

  //GLOBALS
  var CIRCLE_RADIUS_DEFAULT = 5;
  var STATUS_COLOR_STROKE   = "#2222ff";
  var STATUS_COLOR_UNKNOWN  = "#bbbbbb";
  var STATUS_COLOR_ACTIVE   = "#aaaaff";
  var STATUS_COLOR_INACTIVE = "#ffaaaa";

  var MQTT_HOSTNAME = "templo.ict.uevora.pt"
  //var MQTT_HOSTNAME = "193.137.179.141"
  var MQTT_PORT = 1884
  var MQTT_CLIENT_ID = "ssnWebClientId"+ Math.random().toString(16).substr(2, 8)
  var MQTT_TOPIC_SUB_INFO  = "ssnalentejo/#/info"
  var MQTT_TOPIC_SUB_EVENT = "ssnalentejo/#/event"
  
</script>

<script type="text/JavaScript" src="/javascripts/paho-mqtt.js"></script>
<script type="text/JavaScript" src="/javascripts/mqtt-client.js"></script>

<script>
  //var sensorMap = {};
  var sensorMap = new Map();
  var sensorMarkerMap = new Map();

  mqtt_init();

  //
  document.getElementById("mapid").width =document.documentElement.clientWidth;
  document.getElementById("mapid").height=document.documentElement.clientHeight;
  
  //var mymap = L.map('mapid').setView([38.5714, -7.9135], 13);
  var mymap = L.map('mapid');

  L.tileLayer('https://stamen-tiles-{s}.a.ssl.fastly.net/terrain/{z}/{x}/{y}.{ext}', {
    attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a> &mdash; Map data &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
    subdomains: 'abcd',
    minZoom: 0,
    maxZoom: 18,
    ext: 'png'
  })
  .addTo(mymap);

  //while creating page: parse sensors and build 
  //first sensor map to show (info is from DB, not live)

  <%
  if (sensorlist) {
     sensorlist.forEach(function(sensor) {
      %>

      addSensorToMap(
        '<%=sensor.sensorkey%>', 
        '<%=sensor.name%>',
        <%=sensor.latitude%>,
        <%=sensor.longitude%>,
        <%=sensor.elevation%>,
        0);

      addMarkerToMap(sensorMap.get('<%=sensor.sensorkey%>'));
      //addMarkerToMap(sensorMap['<%=sensor.sensorkey%>']);

      <%
     });
  }

  %>

  if (sensorMap.size!=0) {
    var sensor=sensorMap.values().next().value;
    mymap.setView(new L.LatLng(
          sensor.latitude, 
          sensor.longitude), 
          9);
  }

</script>

<% include bottom %>
