<% include top %>

<!--
<div class="input-group">
  <input type="text" class="form-control" placeholder="Search">
  <span class="input-group-btn">
    <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
  </span>
</div>
<br />
-->

<!--
<form name='sensor_search' action='/sensors' method='get'>
  <input type='text' name='sensor_name' />
  <input type='submit' value='Submit' />
</form>
-->

  <p></p>
    <h3>Sensors List 
      <a class="btn btn-primary float-right" href='/sensors/add'>Add New Sensor</a></h3>
  
    <p>Below are sensors registered in this website. Click to access its details.</p>
  
    <table class="table table-hover table-sm">
      <thead>
        <tr class="table-active">
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>

      <% for (var sensor of sensorlist) { %>  

        <tr>
          <th scope="row"><span class="badge badge-pill badge-dark"><%= sensor.sensorkey %></span></h6></th>
          <td><a href="/sensors/view/<%= sensor.sensorkey %>"><%= sensor.name %></a></td>
          <td><%= sensor.description %></td>
          <td class="text-nowrap btn-sm"><a href="/sensors/live/<%= sensor.sensorkey %>" class="btn btn-danger">LIVE Data</a></td>
          <td class="text-nowrap btn-sm"><a href="/sensors/datafiles/<%= sensor.sensorkey %>" class="btn btn-primary">Datafiles</a></td>
        </tr>

      <% } %>

      </tbody>
    </table>
  
<% include bottom %>
