<% include top %>

<p></p>

<h5>Datafiles for sensor 
  <a href="/sensors/view/<%= sensor.sensorkey %>"><%= sensor.name %></a>
  <span class="badge badge-pill badge-dark"><%= sensor.sensorkey %></span>
</h5>

<ul class="list-group">

  <% 
    var path = "/";
    if (year)  path +=year+"/";
    if (month) path +=month+"/";
    if (day)   path +=day+"/";
  %>
  
  <% if (directories) {       
    for (var dir of directories) { %>  

    <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center bg-light" href="/sensors/datafiles/<%= sensor.sensorkey + path + dir %>">
      <%= dir %>
      <span class="badge badge-pill badge-dark">Directory</span>    
    </a> 
    
    <% } 
    } %>

  <% if (files) {       

    for (const index in files ) { %>
  
  <li class="list-group-item">
    <img src="/images/seismicsensor.png" class="media-object" style="width:50px">
    <a href="/sensors/showdata/<%= sensor.sensorkey +'/'+ files[index] + path %>">
    <%= files[index] %> 
    </a>
    <span class="badge badge-pill badge-dark">File</span>

    <%= fileSizeMB[index] %> MB

    <div class="btn-group float-right" role="group">
      <a class="btn btn-primary btn-sm" href="/sensors/showdata/<%= sensor.sensorkey +'/'+ files[index] + path %>">View</a>
      <a class="btn btn-secondary btn-sm float-right" href="<%= '/'+sensorFilesDir+'/' + sensor.sensorkey + path + files[index] %>" download role="button">Download</a>
    </div>
  </li>
      
    <% } 
    } %>
    
</ul>

<% include bottom %>
