<% include top %>

<p></p>

<h5>
  <% if (docreate) { %>
  Create New Sensor
  <% } else { %>
    Editing 
    <%= sensor.name %>
    <span class="badge badge-pill badge-dark"><%= sensor.sensorkey %></span>
  <% } %>
</h5>


<form class="form-horizontal" method='POST' action='/sensors/save'>
  <input type='hidden' name='docreate' value='<%= docreate ? "create" : "update" %>'>
  <div class="form-group">
    <label class="control-label col-xs-3" for="sensorkey">Key</label>    
    <div class="col-xs-9">
      <% if (docreate) { %>
        <input class="form-control" type='text' id='sensorkey' name='sensorkey' placeholder="sensor key" value=''/>
      <% } else { %>
        <p class="form-control-static"><%= sensor ? sensorkey : "" %></p>
        <input class="form-control" type='hidden' id='sensorkey' name='sensorkey' placeholder="sensor key" value='<%= sensor ? sensorkey : "" %>'/>
      <% } %>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-xs-3" for="name">Name: </label>
    <div class="col-xs-9">
      <input type='text' readonly='readonly' class="form-control" id='name' name='name' placeholder="name" value='<%= sensor ? sensor.name : "" %>' />
    </div>
  </div>
    
  <div class="form-group">
    <label class="control-label col-xs-3" for="latitude">Latitude: </label>
    <div class="col-xs-9">
      <input type='text' readonly='readonly' class="form-control" id='latitude' name='latitude' placeholder="latitude" value='<%= sensor ? sensor.latitude : "" %>' />
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-xs-3" for="longitude">Longitude: </label>
    <div class="col-xs-9">
      <input type='text' readonly='readonly' class="form-control" id='longitude' name='longitude' placeholder="longitude" value='<%= sensor ? sensor.longitude : "" %>' />
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-xs-3" for="elevation">Elevation: </label>
    <div class="col-xs-9">
      <input type='text' readonly='readonly' class="form-control" id='elevation' name='elevation' placeholder="elevation" value='<%= sensor ? sensor.elevation : "" %>' />
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-xs-3" for="sensor_URL">Sensor URL: </label>
    <div class="col-xs-9">
      <input type='text' readonly='readonly' class="form-control" id='sensor_URL' name='sensor_URL' placeholder="URL of sensor" value='<%= sensor ? sensor.sensor_URL : "" %>' />
      <span class="help-block">Insert a valid URL pointing to the data files stored by the sensor.</span>
    </div>
  </div>

    <div class="form-group">
      <label class="control-label col-xs-3" for="data_URL">Data URL: </label>
      <div class="col-xs-9">
        <input type='text' readonly='readonly' class="form-control" id='data_URL' name='data_URL' placeholder="Web Socket URL of sensor data" value='<%= sensor ? sensor.data_URL : "" %>' />
        <span class="help-block">Insert a valid WebSocket URL pointing to the live connection to the sensor.</span>
      </div>
    </div>

  <div class="form-group">
    <label class="control-label col-xs-3" for="model">Model: </label>
    <div class="col-xs-9">
      <input type='text' readonly='readonly' class="form-control" id='model' name='model' placeholder="model" value='<%= sensor ? sensor.model : "" %>' />
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-xs-3" for="model_URL">Model (link): </label>
    <div class="col-xs-9">
      <input type='text' readonly='readonly' class="form-control" id='model_URL' name='model_URL' placeholder="model URL" value='<%= sensor ? sensor.model_URL : "" %>' />
      <span class="help-block">Insert a valid URL providing information about the sensor.</span>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-xs-3" for="timecreated">Time Created: </label>
    <div class="col-xs-9">
      <input type='text' readonly='readonly' class="form-control" id='timecreated' name='timecreated' placeholder="time created" value='<%= sensor ? sensor.timecreated : "" %>' />
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-xs-3" for="description">Description: </label>
    <div class="col-xs-9">
      <textarea readonly='readonly' class="form-control" rows=5 cols=40 id='description' name='description' placeholder="description"><%= sensor ? sensor.description : "" %></textarea>
    </div>
  </div>

  <div class="btn-group col-12" role="group" aria-label="Cancel/Submit">
    <a class="btn bg-light" href="/sensors/view/<%= sensorkey %>" role="button">Close</a>   
<!--    <button type="submit" class="btn btn-primary">Submit</button> -->
  </div>

</form>


<% include bottom %>
